//--------------------------------------------------------------------------------------------------
// <copyright file="PrintEula.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
//    
//    The use and distribution terms for this software are covered by the
//    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
//    which can be found in the file CPL.TXT at the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by
//    the terms of this license.
//    
//    You must not remove this notice, or any other, from this software.
// </copyright>
// 
// <summary>
// PrintEula CA resource file.
// </summary>
//--------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME "printeula.dll"
#define VER_INTERNAL_NAME "printeula"
#define VER_FILE_DESCRIPTION "WiX PrintEula Custom Actions"
#include "wix.rc"

// Additional resources here
